pkgbase = sparta-plugins
	pkgdesc = AALTO vst plugins for Spatial Audio Real-time Applications
	pkgver = 2024_02_02_v1.7.1
	pkgrel = 2
	url = http://research.spa.aalto.fi/projects/sparta_vsts/
	arch = x86_64
	arch = x86_64_v3
	groups = pro-audio
	license = GPL
	depends = bubblewrap
	depends = webkit2gtk
	source = https://github.com/leomccormack/SPARTA/releases/download/v1.7.1/Linux_SPARTA_VST_2024_02_02_v1.7.1.zip
	sha256sums = 679fef0db44c88a72636fd660f3aec64d206ec128bc6568a74bca3cfb2a01e25

pkgname = sparta-plugins
